 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,123,255,0.7), rgba(0,123,255,0.7)), url('../images/2.jpg');
}

.u-section-1 .u-sheet-1 {
  min-height: 340px;
}

.u-section-1 .u-group-elements-1 {
  width: 373px;
  min-height: 66px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 373px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  width: 354px;
  margin: 1px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1399px) {
   .u-section-1 {
    background-position: 50% 30.66%;
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 161px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 30.66%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-bottom: 38px;
    min-height: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  min-height: 2500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 19px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 2481px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-group-1 {
  min-height: 897px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 30px 0 auto;
}

.u-section-2 .u-text-2 {
  margin-left: auto;
  margin-right: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 0 29px 0 auto;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin: 0 29px 0 auto;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: 0 29px 0 auto;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-line-1 {
  transform-origin: right center;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 30px 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 20px 30px 0 auto;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-8 {
  margin: 0 29px 0 auto;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-9 {
  margin: 0 29px 0 auto;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-line-2 {
  margin-top: 23px;
  transform-origin: right center;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 225px;
  height: 113px;
  margin: 7px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 30px 15px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 2481px;
}

.u-section-2 .u-container-layout-3 {
  padding: 25px 60px 25px 0;
}

.u-section-2 .u-image-2 {
  height: 420px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 14px 0 0 auto;
}

.u-section-2 .u-text-12 {
  font-size: 1.125rem;
  margin: 20px 0 0 auto;
}

.u-section-2 .u-group-elements-1 {
  width: 739px;
  min-height: 37px;
  margin: 20px 0 0 auto;
}

.u-section-2 .u-text-13 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-image-3 {
  width: 144px;
  height: 4px;
  margin: 1px 0 0 auto;
}

.u-section-2 .u-text-14 {
  font-size: 1.125rem;
  margin: 26px 0 0 auto;
}

.u-section-2 .u-group-elements-2 {
  min-height: 43px;
  height: auto;
  margin: 26px 175px 0 55px;
}

.u-section-2 .u-text-15 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-image-4 {
  width: 144px;
  height: 4px;
  margin: 1px 0 0 auto;
}

.u-section-2 .u-text-16 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-group-elements-3 {
  min-height: 43px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-2 .u-text-17 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-image-5 {
  width: 144px;
  height: 4px;
  margin: 1px 0 0 auto;
}

.u-section-2 .u-text-18 {
  font-size: 1.125rem;
  margin: 23px 0 0;
}

.u-section-2 .u-text-19 {
  font-size: 1.125rem;
  margin: 20px 33px 0 0;
}

.u-section-2 .u-group-elements-4 {
  min-height: 43px;
  height: auto;
  margin-top: 18px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-2 .u-text-20 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-image-6 {
  width: 144px;
  height: 4px;
  margin: 1px 0 0 auto;
}

.u-section-2 .u-text-21 {
  font-size: 1.125rem;
  margin: 9px 0 0;
}

.u-section-2 .u-text-22 {
  font-size: 1.125rem;
  margin: 23px 33px 0 0;
}

.u-section-2 .u-group-elements-5 {
  min-height: 20px;
  height: auto;
  margin-top: 29px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-2 .u-text-23 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-image-7 {
  width: 144px;
  height: 4px;
  margin: 1px 0 0 auto;
}

.u-section-2 .u-text-24 {
  font-size: 1.125rem;
  margin: 18px 0 0;
}

@media (max-width: 1399px) {
   .u-section-2 {
    min-height: 2672px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 2743px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-line-2 {
    height: 8px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 2652px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 21px;
  }

  .u-section-2 .u-image-2 {
    height: 330px;
    width: auto;
  }

  .u-section-2 .u-group-elements-1 {
    width: 700px;
  }

  .u-section-2 .u-group-elements-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-16 {
    margin-top: 21px;
  }

  .u-section-2 .u-group-elements-3 {
    width: auto;
  }

  .u-section-2 .u-text-18 {
    width: auto;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-2 .u-group-elements-4 {
    width: auto;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin-left: 29px;
  }

  .u-section-2 .u-text-22 {
    width: auto;
    margin-right: 0;
    margin-left: 29px;
  }
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 2963px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 14px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 2949px;
  }

  .u-section-2 .u-line-1 {
    height: 0;
  }

  .u-section-2 .u-image-1 {
    width: 222px;
    height: 112px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 2949px;
  }

  .u-section-2 .u-image-2 {
    height: 267px;
    width: auto;
  }

  .u-section-2 .u-group-elements-1 {
    width: 510px;
  }

  .u-section-2 .u-group-elements-2 {
    min-height: 82px;
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-16 {
    margin-top: 18px;
    margin-left: 1px;
    margin-right: 1px;
    width: auto;
  }

  .u-section-2 .u-group-elements-3 {
    margin-top: 18px;
    width: auto;
  }

  .u-section-2 .u-text-18 {
    margin-top: 18px;
    margin-left: 45px;
  }

  .u-section-2 .u-text-19 {
    margin-top: 18px;
    margin-right: 1px;
  }

  .u-section-2 .u-group-elements-4 {
    margin-top: 122px;
    width: auto;
  }

  .u-section-2 .u-text-21 {
    margin-top: 18px;
    margin-left: 1px;
  }

  .u-section-2 .u-text-22 {
    margin-top: 18px;
    margin-left: 1px;
  }

  .u-section-2 .u-group-elements-5 {
    min-height: 120px;
    margin-top: 19px;
  }

  .u-section-2 .u-text-24 {
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 3111px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 25px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 3183px;
  }

  .u-section-2 .u-image-1 {
    width: 176px;
    height: 60px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 3086px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 212px;
    width: auto;
  }

  .u-section-2 .u-group-elements-1 {
    width: 450px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: 0;
  }

  .u-section-2 .u-text-19 {
    margin-right: 0;
  }

  .u-section-2 .u-group-elements-4 {
    margin-top: 18px;
    width: auto;
  }

  .u-section-2 .u-text-21 {
    margin-left: 0;
  }

  .u-section-2 .u-text-22 {
    margin-left: 0;
  }

  .u-section-2 .u-group-elements-5 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-24 {
    width: auto;
    margin-right: 0;
    margin-left: 45px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 3161px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 2237px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 237px;
    width: auto;
  }

  .u-section-2 .u-group-elements-2 {
    margin-top: 676px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-elements-3 {
    margin-top: 278px;
    width: auto;
  }

  .u-section-2 .u-text-18 {
    margin-top: 1641px;
  }

  .u-section-2 .u-text-19 {
    margin-top: -1535px;
  }

  .u-section-2 .u-text-21 {
    margin-top: -66px;
  }

  .u-section-2 .u-text-22 {
    margin-top: -191px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 895px;
    order: 1;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    width: 242px;
    height: 121px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 3788px;
    order: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0 20px;
  }

  .u-section-2 .u-image-2 {
    height: 175px;
    margin-top: 30px;
    width: 100%;
  }

  .u-section-2 .u-group-elements-1 {
    width: 330px;
  }

  .u-section-2 .u-group-elements-2 {
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-16 {
    margin-left: 20px;
  }

  .u-section-2 .u-group-elements-3 {
    margin-top: 18px;
    width: auto;
  }

  .u-section-2 .u-text-18 {
    margin-top: 18px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-19 {
    margin-top: 18px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-21 {
    margin-top: 18px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-22 {
    margin-top: 18px;
    margin-left: 20px;
  }

  .u-section-2 .u-group-elements-5 {
    min-height: 159px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-24 {
    margin-top: -41px;
    margin-left: 20px;
  }
}.rtl {
    direction: rtl;
}